#global-alerts {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
}

#ticketlist-container > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    column-gap: 3ex;
}

#lists-table {
    flex-grow: 0;
    flex-shrink: 0;
}

#lists-table > table.table {
    width: auto;
}
#lists-table > table td:first-child {
    padding-right: 3em;
}
#lists-table > .actions {
    text-align: right;
}

#ticketlist-form .content {
    display: flex;
    flex-wrap: nowrap;
}
#ticketlist-form .actions {
    display: flex;
    justify-content: space-between;
}
.ticket-numbers {
    display: flex;
    flex-wrap: wrap;
}
.ticket-numbers > span + span {
    margin-left: 2px;
}
.ticket-numbers > span {
    padding: 2px 6px;
}
.ticket-numbers > span.added {
    background-color: #bdf3bd;
}
.ticket-numbers > span.removed {
    background-color: #f3bdbd;
}

#ticketlist-container .blocks-container {
    display: flex;
    flex-wrap: wrap;
}
#ticketlist-container .block {
    flex: auto;
    border: thin solid black;
    margin: 0 1ex 1ex 1ex;
}
#ticketlist-container .widget-header h2 {
    display: flex;
    justify-content: space-between;
}
#select-tickets {
    max-width: 50ex;
}
.ticket-count-0 .widget-box.tickets-block {
    /* "Ace Admin Theme" uses "!important", so we have to do the same. Sigh... */
    display: none !important;
}

.widget-header-small {
    padding-right: 10px;
}

/* remove some annoying "ace CSS" settings */
#ticketlist-container .form-control, #ticketlist-container select {
    color: #444;
}
#ticketlist-container .btn.btn-sm {
    border-radius: 6px;
}
#ticketlist-container .btn {
    border-radius: 8px;
}
