#global-alerts {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
}

#lists-table > table.table {
    width: auto;
}
#lists-table > .actions {
    float: right;
}

#ticketlist-form .actions {
    display: flex;
    justify-content: space-between;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
}
.block {
    flex: auto;
    border: thin solid black;
    margin: 1ex;
}
#select-tickets {
    max-width: 50ex;
}
